WebServices/Connected Services/EdlWebService/EdlWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="TestConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_SettlementDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMelResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMelEfa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_EfaDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMelEfaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMelEfaResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_SettlementDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSelResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_SettlementDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPnResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPnEfa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_EfaDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPnEfaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPnEfaResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPnDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_SettlementDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="v_Efa" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPnDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPnDetailsResult" type="tns:ArrayOfPeriodPoint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPeriodPoint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PeriodPoint" nillable="true" type="tns:PeriodPoint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PeriodPoint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PeriodNumber" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="SettlementDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Average" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Minimum" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Maximum" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFrequencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_SettlementDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFrequencyResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFrequencyResponseResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFrequencyResponseByMinute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_SettlementDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFrequencyResponseByMinuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFrequencyResponseByMinuteResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBoa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_SettlementDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBoaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBoaResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetFrequency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_SettlementDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTargetFrequencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTargetFrequencyResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestMel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestMelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestMelResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestPn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestPnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestPnResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestBoa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestBoaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestBoaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestFrequencyMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestFrequencyModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestFrequencyModeResult" type="tns:udtFrequencyMode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="udtFrequencyMode">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Mode" type="tns:enuFrequencyResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="Matrix" type="s1:char" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="enuFrequencyResponse">
        <s:restriction base="s:string">
          <s:enumeration value="PSH" />
          <s:enumeration value="PH" />
          <s:enumeration value="Insensitive" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ConvertMinuteToPeriod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="v_Minute" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertMinuteToPeriodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertMinuteToPeriodResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMelLastUpdated">
        <s:complexType />
      </s:element>
      <s:element name="GetMelLastUpdatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMelLastUpdatedResult" type="tns:ArrayOfUnitAvailability" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUnitAvailability">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UnitAvailability" nillable="true" type="tns:UnitAvailability" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UnitAvailability">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdated" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMelProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="v_SettlementDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMelProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMelProfileResult" type="tns:ArrayOfProfilePoint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProfilePoint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProfilePoint" nillable="true" type="tns:ProfilePoint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProfilePoint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FromMwValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FromSpotTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LossReason" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LossCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ToMwValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ToSpotTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedBy" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPnProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="v_UnitNumber" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="v_SettlementDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="v_Efa" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPnProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPnProfileResult" type="tns:ArrayOfProfilePoint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPnProfile7Days">
        <s:complexType />
      </s:element>
      <s:element name="GetPnProfile7DaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPnProfile7DaysResult" type="tns:ArrayOfProfilePoint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPnProfiles">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPnProfilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPnProfilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="GetMelSoapIn">
    <wsdl:part name="parameters" element="tns:GetMel" />
  </wsdl:message>
  <wsdl:message name="GetMelSoapOut">
    <wsdl:part name="parameters" element="tns:GetMelResponse" />
  </wsdl:message>
  <wsdl:message name="GetMelEfaSoapIn">
    <wsdl:part name="parameters" element="tns:GetMelEfa" />
  </wsdl:message>
  <wsdl:message name="GetMelEfaSoapOut">
    <wsdl:part name="parameters" element="tns:GetMelEfaResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelSoapIn">
    <wsdl:part name="parameters" element="tns:GetSel" />
  </wsdl:message>
  <wsdl:message name="GetSelSoapOut">
    <wsdl:part name="parameters" element="tns:GetSelResponse" />
  </wsdl:message>
  <wsdl:message name="GetPnSoapIn">
    <wsdl:part name="parameters" element="tns:GetPn" />
  </wsdl:message>
  <wsdl:message name="GetPnSoapOut">
    <wsdl:part name="parameters" element="tns:GetPnResponse" />
  </wsdl:message>
  <wsdl:message name="GetPnEfaSoapIn">
    <wsdl:part name="parameters" element="tns:GetPnEfa" />
  </wsdl:message>
  <wsdl:message name="GetPnEfaSoapOut">
    <wsdl:part name="parameters" element="tns:GetPnEfaResponse" />
  </wsdl:message>
  <wsdl:message name="GetPnDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPnDetails" />
  </wsdl:message>
  <wsdl:message name="GetPnDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPnDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFrequencyResponseSoapIn">
    <wsdl:part name="parameters" element="tns:GetFrequencyResponse" />
  </wsdl:message>
  <wsdl:message name="GetFrequencyResponseSoapOut">
    <wsdl:part name="parameters" element="tns:GetFrequencyResponseResponse" />
  </wsdl:message>
  <wsdl:message name="GetFrequencyResponseByMinuteSoapIn">
    <wsdl:part name="parameters" element="tns:GetFrequencyResponseByMinute" />
  </wsdl:message>
  <wsdl:message name="GetFrequencyResponseByMinuteSoapOut">
    <wsdl:part name="parameters" element="tns:GetFrequencyResponseByMinuteResponse" />
  </wsdl:message>
  <wsdl:message name="GetBoaSoapIn">
    <wsdl:part name="parameters" element="tns:GetBoa" />
  </wsdl:message>
  <wsdl:message name="GetBoaSoapOut">
    <wsdl:part name="parameters" element="tns:GetBoaResponse" />
  </wsdl:message>
  <wsdl:message name="GetTargetFrequencySoapIn">
    <wsdl:part name="parameters" element="tns:GetTargetFrequency" />
  </wsdl:message>
  <wsdl:message name="GetTargetFrequencySoapOut">
    <wsdl:part name="parameters" element="tns:GetTargetFrequencyResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestMelSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestMel" />
  </wsdl:message>
  <wsdl:message name="GetLatestMelSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestMelResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestPnSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestPn" />
  </wsdl:message>
  <wsdl:message name="GetLatestPnSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestPnResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestBoaSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestBoa" />
  </wsdl:message>
  <wsdl:message name="GetLatestBoaSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestBoaResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestFrequencyModeSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestFrequencyMode" />
  </wsdl:message>
  <wsdl:message name="GetLatestFrequencyModeSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestFrequencyModeResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertMinuteToPeriodSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertMinuteToPeriod" />
  </wsdl:message>
  <wsdl:message name="ConvertMinuteToPeriodSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertMinuteToPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="GetMelLastUpdatedSoapIn">
    <wsdl:part name="parameters" element="tns:GetMelLastUpdated" />
  </wsdl:message>
  <wsdl:message name="GetMelLastUpdatedSoapOut">
    <wsdl:part name="parameters" element="tns:GetMelLastUpdatedResponse" />
  </wsdl:message>
  <wsdl:message name="GetMelProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetMelProfile" />
  </wsdl:message>
  <wsdl:message name="GetMelProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetMelProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetPnProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetPnProfile" />
  </wsdl:message>
  <wsdl:message name="GetPnProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetPnProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetPnProfile7DaysSoapIn">
    <wsdl:part name="parameters" element="tns:GetPnProfile7Days" />
  </wsdl:message>
  <wsdl:message name="GetPnProfile7DaysSoapOut">
    <wsdl:part name="parameters" element="tns:GetPnProfile7DaysResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPnProfilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPnProfiles" />
  </wsdl:message>
  <wsdl:message name="GetAllPnProfilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPnProfilesResponse" />
  </wsdl:message>
  <wsdl:portType name="EdlWebServiceSoap">
    <wsdl:operation name="TestConnection">
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMel">
      <wsdl:input message="tns:GetMelSoapIn" />
      <wsdl:output message="tns:GetMelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMelEfa">
      <wsdl:input message="tns:GetMelEfaSoapIn" />
      <wsdl:output message="tns:GetMelEfaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSel">
      <wsdl:input message="tns:GetSelSoapIn" />
      <wsdl:output message="tns:GetSelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPn">
      <wsdl:input message="tns:GetPnSoapIn" />
      <wsdl:output message="tns:GetPnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPnEfa">
      <wsdl:input message="tns:GetPnEfaSoapIn" />
      <wsdl:output message="tns:GetPnEfaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPnDetails">
      <wsdl:input message="tns:GetPnDetailsSoapIn" />
      <wsdl:output message="tns:GetPnDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFrequencyResponse">
      <wsdl:input message="tns:GetFrequencyResponseSoapIn" />
      <wsdl:output message="tns:GetFrequencyResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFrequencyResponseByMinute">
      <wsdl:input message="tns:GetFrequencyResponseByMinuteSoapIn" />
      <wsdl:output message="tns:GetFrequencyResponseByMinuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBoa">
      <wsdl:input message="tns:GetBoaSoapIn" />
      <wsdl:output message="tns:GetBoaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetFrequency">
      <wsdl:input message="tns:GetTargetFrequencySoapIn" />
      <wsdl:output message="tns:GetTargetFrequencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestMel">
      <wsdl:input message="tns:GetLatestMelSoapIn" />
      <wsdl:output message="tns:GetLatestMelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestPn">
      <wsdl:input message="tns:GetLatestPnSoapIn" />
      <wsdl:output message="tns:GetLatestPnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestBoa">
      <wsdl:input message="tns:GetLatestBoaSoapIn" />
      <wsdl:output message="tns:GetLatestBoaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestFrequencyMode">
      <wsdl:input message="tns:GetLatestFrequencyModeSoapIn" />
      <wsdl:output message="tns:GetLatestFrequencyModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertMinuteToPeriod">
      <wsdl:input message="tns:ConvertMinuteToPeriodSoapIn" />
      <wsdl:output message="tns:ConvertMinuteToPeriodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMelLastUpdated">
      <wsdl:input message="tns:GetMelLastUpdatedSoapIn" />
      <wsdl:output message="tns:GetMelLastUpdatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMelProfile">
      <wsdl:input message="tns:GetMelProfileSoapIn" />
      <wsdl:output message="tns:GetMelProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPnProfile">
      <wsdl:input message="tns:GetPnProfileSoapIn" />
      <wsdl:output message="tns:GetPnProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPnProfile7Days">
      <wsdl:input message="tns:GetPnProfile7DaysSoapIn" />
      <wsdl:output message="tns:GetPnProfile7DaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPnProfiles">
      <wsdl:input message="tns:GetAllPnProfilesSoapIn" />
      <wsdl:output message="tns:GetAllPnProfilesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EdlWebServiceSoap" type="tns:EdlWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMel">
      <soap:operation soapAction="http://tempuri.org/GetMel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMelEfa">
      <soap:operation soapAction="http://tempuri.org/GetMelEfa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSel">
      <soap:operation soapAction="http://tempuri.org/GetSel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPn">
      <soap:operation soapAction="http://tempuri.org/GetPn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPnEfa">
      <soap:operation soapAction="http://tempuri.org/GetPnEfa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPnDetails">
      <soap:operation soapAction="http://tempuri.org/GetPnDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFrequencyResponse">
      <soap:operation soapAction="http://tempuri.org/GetFrequencyResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFrequencyResponseByMinute">
      <soap:operation soapAction="http://tempuri.org/GetFrequencyResponseByMinute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoa">
      <soap:operation soapAction="http://tempuri.org/GetBoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetFrequency">
      <soap:operation soapAction="http://tempuri.org/GetTargetFrequency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestMel">
      <soap:operation soapAction="http://tempuri.org/GetLatestMel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestPn">
      <soap:operation soapAction="http://tempuri.org/GetLatestPn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestBoa">
      <soap:operation soapAction="http://tempuri.org/GetLatestBoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestFrequencyMode">
      <soap:operation soapAction="http://tempuri.org/GetLatestFrequencyMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertMinuteToPeriod">
      <soap:operation soapAction="http://tempuri.org/ConvertMinuteToPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMelLastUpdated">
      <soap:operation soapAction="http://tempuri.org/GetMelLastUpdated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMelProfile">
      <soap:operation soapAction="http://tempuri.org/GetMelProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPnProfile">
      <soap:operation soapAction="http://tempuri.org/GetPnProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPnProfile7Days">
      <soap:operation soapAction="http://tempuri.org/GetPnProfile7Days" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPnProfiles">
      <soap:operation soapAction="http://tempuri.org/GetAllPnProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EdlWebServiceSoap12" type="tns:EdlWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://tempuri.org/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMel">
      <soap12:operation soapAction="http://tempuri.org/GetMel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMelEfa">
      <soap12:operation soapAction="http://tempuri.org/GetMelEfa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSel">
      <soap12:operation soapAction="http://tempuri.org/GetSel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPn">
      <soap12:operation soapAction="http://tempuri.org/GetPn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPnEfa">
      <soap12:operation soapAction="http://tempuri.org/GetPnEfa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPnDetails">
      <soap12:operation soapAction="http://tempuri.org/GetPnDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFrequencyResponse">
      <soap12:operation soapAction="http://tempuri.org/GetFrequencyResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFrequencyResponseByMinute">
      <soap12:operation soapAction="http://tempuri.org/GetFrequencyResponseByMinute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoa">
      <soap12:operation soapAction="http://tempuri.org/GetBoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetFrequency">
      <soap12:operation soapAction="http://tempuri.org/GetTargetFrequency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestMel">
      <soap12:operation soapAction="http://tempuri.org/GetLatestMel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestPn">
      <soap12:operation soapAction="http://tempuri.org/GetLatestPn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestBoa">
      <soap12:operation soapAction="http://tempuri.org/GetLatestBoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestFrequencyMode">
      <soap12:operation soapAction="http://tempuri.org/GetLatestFrequencyMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertMinuteToPeriod">
      <soap12:operation soapAction="http://tempuri.org/ConvertMinuteToPeriod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMelLastUpdated">
      <soap12:operation soapAction="http://tempuri.org/GetMelLastUpdated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMelProfile">
      <soap12:operation soapAction="http://tempuri.org/GetMelProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPnProfile">
      <soap12:operation soapAction="http://tempuri.org/GetPnProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPnProfile7Days">
      <soap12:operation soapAction="http://tempuri.org/GetPnProfile7Days" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPnProfiles">
      <soap12:operation soapAction="http://tempuri.org/GetAllPnProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EdlWebService">
    <wsdl:port name="EdlWebServiceSoap" binding="tns:EdlWebServiceSoap">
      <soap:address location="http://localhost:41192/EdlWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="EdlWebServiceSoap12" binding="tns:EdlWebServiceSoap12">
      <soap12:address location="http://localhost:41192/EdlWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>