WebServices/Connected Services/MarketPricesWebService/MarketPricesWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:38603/MarketPricesWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="AddBrokerOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="message" nillable="true" type="q1:DPL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBrokerOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBrokerProductDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="message" nillable="true" type="q2:DPL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBrokerProductDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNordpoolPublicTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="message" nillable="true" type="q3:DPL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNordpoolPublicTradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNordpoolDayAheadTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="message" nillable="true" type="q4:DPL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNordpoolDayAheadTradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEtrmEtsPublicTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="message" nillable="true" type="q5:DPL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEtrmEtsPublicTradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEtrmM7PublicTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="message" nillable="true" type="q6:DPL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEtrmM7PublicTradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrayportSequenceItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="message" nillable="true" type="q7:DPL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrayportSequenceItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrayportPublicTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="message" nillable="true" type="q8:DPL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrayportPublicTradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrayportPublicOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="message" nillable="true" type="q9:DPL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrayportPublicOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>